* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
  font-family: "Roboto";
}

.sidebar {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1/3;
  grid-template-rows: 100px 1fr 2fr;
  background-color: #00b9ff;
  color: white;
}

.logo {
  display: flex;
  padding: 10px;
}

.mdi-view-dashboard {
  font-size: 40px;
}

.dashboard {
  align-content: flex-start;
  font-size: 30px;
  padding-top: 4px;
  margin-left: 10px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px;
  gap: 20px;
}

.navigation p {
  margin-left: 10px;
}

.branding {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.branding p {
  margin-left: 10px;
}

.sidebar-flex {
  display: flex;
}

.sidebar-text {
  margin-left: 10px;
}

.header {
  display: grid;
  grid-column: 2 / 3;
  background-color: white;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 20px;
  height: 50px;
}

.search {
  display: grid;
  grid-template-columns: 30px 0.4fr;
}

.mdi-magnify {
  margin-top: 2px;
  font-size: 25px;
}

.s-bar {
  background-color: grey;
}

.searchText {
  border-radius: 10px;
  border: none;
  height: 25px;
  background-color: #e5e5e5;
  color: white;
  width: 600px;
  margin-left: 20px;
}

.user-info {
  display: flex;
  font-size: 25px;
  justify-items: center;
  justify-content: flex-end;
  gap: 60px;
}

.profile-section {
  margin: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 30px 1fr;
  font-weight: bold;
}

.profile-logo {
  grid-column: 1 / 2;
  font-size: 50px;
}

.hi {
  font-size: 15px;
  align-content: center;
}

.profile-name {
  grid-column: 2 / 3;
  font-size: 20px;
}

.profile-buttons {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 20px;
}

.profile-buttons button {
  background-color: #5ca5f7;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.projects {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.1fr auto;
  background-color: #e6e6e6;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 1000px;
  gap: 30px;
  margin: 20px 40px;
  grid-row: 2 / 3;
}

.yourProject {
  font-size: 20px;
  font-weight: bold;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 40px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-left: 8px solid orange;
  padding: 20px 20px;
  max-height: 200px;
  display: grid;
  grid-template-rows: 20px 60px;
}

.title {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  font-size: 20px;
}

.side-section {
  display: grid;
  grid-template-rows: 0.5fr 20px auto;
  gap: 20px;
  margin: 20px;
  grid-row: 2 / 3;
  width: 250px;
}

.announcements-header {
  font-size: 20px;
  font-weight: bold;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 20px;
  margin-top: 20px;
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
}

.announcement-section {
  padding: 10px;
  background-color: white;
}

.announcement-title {
  font-weight: bold;
}

.trending-header {
  font-size: 20px;
  font-weight: bold;
}

.trending {
  padding: 20px;
  background-color: white;
  height: 200px;
}

.trending-section {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 17px;
}
